.topBar {
  padding: 10px 25px;
  background: var(--color-base); }
  .topBar .topAddress span {
    color: var(--color-white); }
    .topBar .topAddress span.iconTopBar {
      margin-right: 10px; }
    .topBar .topAddress span.saprater {
      height: 14px;
      width: 1px;
      background: var(--color-white);
      padding: 0px 0px;
      margin: 0 10px 0px 5px;
      display: inline-block; }
